<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979138882481-iiul5hc26g72eqh6le0qefju4f382etp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979138882481-iiul5hc26g72eqh6le0qefju4f382etp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>979138882481-f6kqojro3gk8vk6bjoc2sg591ou7rpnk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5R9UGP_SRgk__3r-lzbRvfvg9ZK4j6rE</string>
	<key>GCM_SENDER_ID</key>
	<string>979138882481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.langbat</string>
	<key>PROJECT_ID</key>
	<string>langarden</string>
	<key>STORAGE_BUCKET</key>
	<string>langarden.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979138882481:ios:515b26828271e9a354eb90</string>
</dict>
</plist>